.comentarios-container {
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
}

.comentarios-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #000000;
}

.slick-slider {
  margin: 50px auto;
  max-width: 1200px;
}

.slick-slide {
  display: flex;
  justify-content: center;
}


