.footer-container {
  background-color: #f5f5f5; /* Color de fondo f5f5f5 */
  color: #000000; /* Color del texto */
  padding: 40px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */
  max-width: 1700px;
  margin: 0 auto;
}

.footer-logo {
  text-align: left;
  max-width: 300px;
}

.footer-logo-img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.footer-categorias, 
.footer-links {
  text-align: left;
  max-width: 300px;
}

.footer-categorias h3, 
.footer-links h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-categorias ul, 
.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-categorias li, 
.footer-links li {
  margin: 5px 0;
}

.footer-categorias li:hover, 
.footer-links li:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo, 
  .footer-categorias, 
  .footer-links {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
